.rec-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.rec-title {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rec-title p {
    line-height: 15px;
}

.rec-items {
    /* flex-grow: 1; rec-contents의 나머지 공간을 채우도록 설정 */
    display: flex; /* 내부 card들을 좌우로 나열 */
    flex-wrap: wrap; /* card가 여러 개일 때 다음 줄로 넘기기 */
    justify-content: space-around; /* card 사이의 간격을 균일하게 조절 */
    margin-top: 20px; /* rec-title과의 간격 */
    width: 80%;
    display: flex;
    overflow: hidden; /* 내용이 넘치면 숨김 */
    position: relative; /* 버튼을 위한 상대 위치 */
    padding: 0 20px
}

.btnPrev, .btnNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 20%;
    z-index: 1000;
    border: none;
    cursor: pointer;
}

.btnPrev {
    background-image: url(./btn-prev.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    left: 10px; /* 왼쪽 가장자리로부터의 거리 */
}

.btnNext {
    background-image: url(./btn-next.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    right: 10px; /* 오른쪽 가장자리로부터의 거리 */
}


.rec-item-1 {
    width: 100%;
    display: flex; /* flexbox를 사용하여 가로로 나열 */
    align-items: flex-start; /* 내부 요소들이 상단 정렬되도록 함 */
    margin-bottom: 20px; /* 각 item 간의 하단 여백 추가 */
}

.card {
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    width: 200px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: transform 0.3s ease;
}

.cardinfo {
    word-wrap: break-word;
}

.cardinfo p {
    font-size: 15px;
}

.rec-item-1 {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.rec-item-1.active {
    display: block;
    opacity: 1;
}

.pages span {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

a:link, a:hover {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    .rec-contents {
        width: 100%;
        flex-direction: column;
    }

    .rec-items {
        width: 80%;
    }

    .rec-title {

        width: 80%;
        border: none;
    }

    .btnPrev, .btnNext {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        border: none;
        cursor: pointer;
        opacity: 20%;
    }

    .card {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 0 0 auto;
        width: 170px;
        height: 400px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card img {
        /* position: absolute; */
        z-index: 1;
    }

    .book-details {
        z-index: 2;
        line-height: 1.2;
    }

}

