.card-container {
    text-align: center;
}

.card {
    display: inline-block;
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* transform 속성에 대한 애니메이션을 추가*/
}

#card2 {
    background-color: black;
}

#card4 {
    background-color: rgb(39, 39, 39);
}
  
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-shelf {
    display: flex;
    justify-content: first baseline;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
}

/*
.card-shelf {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}
*/

.card.horizontal {
    display: inline-block; 
    margin-right: 15px; /* 각 카드 사이의 간격을 조절할 수 있습니다 */
}

button {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 부모 요소의 상단 기준으로 수직 가운데 정렬 */
    transform: translateY(-50%); /* 수직 가운데 정렬을 위한 translateY 변환 */
}

button:hover {
    cursor: pointer;
}
  
#prevButton {
    background: url('./prev.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    left: 20px; /* 왼쪽에 배치 */
}

#nextButton {
    background: url('./next.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    right: 20px; /* 오른쪽에 배치 */
}
