.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    padding: 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0;
}

.navbar .main-menu {
    display: flex;
    flex-grow: 1; /* 주 내용이 플렉스 아이템 사이의 여백을 채움 */
}

#login {
    margin-left: auto; /* 자동 마진으로 왼쪽에 있는 모든 공간을 채워 오른쪽으로 정렬 */
}

.main-menu {
    display: block;
    list-style: none;
    margin-bottom: 5px;
}

.main-menu:hover .dropdown-content {
    display: block; /* 메인 메뉴에 마우스가 있을 때 드롭다운 표시 */
}

.menu {
    display: inline-block;
    margin-right: 50px;
    font-weight: bold;
}

.menu:hover {
    cursor: pointer;
}

#book-img {
    margin-right: 20px;
    margin-left: 20px;
}

#book-img img {
    display: inline-block;
    width: 17px;
    height: 17px;
}

.input {
    width: 90px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    margin: 0 5px 0 0;
    padding: 1px;
}

.btn {
    background-color: #f1f1f1;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 11px;
    margin: 0;
    font-weight: bold;
}

/* dropdown----------------------------------------------------------------------------------------- */
.dropdown-content {
    display: none;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    /* overflow: hidden; 애니메이션 효과를 위해 overflow를 hidden으로 설정*/
    transition: max-height 0.3s ease; /* 높이에 대한 변화를 부드럽게 만듦 */
    max-height: 0; /* 초기 높이를 0으로 설정하여 숨김 */
    z-index: 1000;
}

.dropdown-content.show {
    display: block;
    max-height: 500px;
}

.navbar:hover .dropdown-content {
    display: block; /* 마우스를 올렸을 때 보이도록 설정 */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f7f7f7;
}
