<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Id</title>
    <script src="../app.js"></script>
</head>
<body>
    <h1>아이디 찾기</h1>
    <form action="/find-id" method="post">
        <table>            
            <p><input type="text" name="name" placeholder="Your Name" required></p>
            <p><input type="text" name="hp" placeholder="Your Phone Number" required></p>
            <p><input type="password" name="userpw" placeholder="Your Password" required></p>
            <button type="submit">아이디 찾기</button>
    </table>
    </form>
</body>
</html>