<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="../app.js"></script>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <p><input type="text" name="userid" placeholder="UserID" required></p>
        <p><input type="password" name="userpw" placeholder="Password" required><br></p>
        <p>
        <button type="submit">로그인</button>        
        </p>
    </form>    
        </p>
        <button onclick="location.href='/register'">회원가입</button>
        </p>
        </p>
        <button onclick="location.href='/unuser-login'">비회원 로그인</button>
        </p>
        <p>
        <button onclick="location.href='/find-password'">비밀번호 찾기</button>
        </p>
        <p>
        <button onclick="location.href='/find-id'">아이디 찾기</button>
        </p>
</body>
</html>