<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="../app.js"></script>
</head>
<body>
    <h1>Login</h1>
    <form action="/unuser-login" method="post">
        <p><input type="text" name="un_name" placeholder="이름" required></p>
        <p><input type="password" name="userpw" placeholder="비밀번호" required><br></p>
        <p><input type="hp" name="hp" placeholder="핸드폰번호" required><br></p>
        <p>
        <button type="submit">비회원 로그인</button>        
        </p>
    </form>
</body>
</html>